@model IEnumerable<Web_ThiTracNghiem.Models.CaThiModel>

@{
    ViewBag.Title = "InfoSVLichThis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfoSVLichThis</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
